.layout {
    color: var(--txt-color);
    background-color: var(--second-bg);
}

.layout__content {
    padding-left: var(--sidebar-width);
    background-color: var(--second-bg);
    min-height: 100vh;
    margin: 0 20px;
}


