esdc_server/HELP.md
esdc_server/!.mvn/wrapper/maven-wrapper.jar
esdc_server/!**/src/main/**/target/
esdc_server/!**/src/test/**/target/

### STS ###
esdc_server/.apt_generated
esdc_server/.classpath
esdc_server/.factorypath
esdc_server/.project
esdc_server/.settings
esdc_server/.springBeans
esdc_server/.sts4-cache

### IntelliJ IDEA ###
esdc_server/.idea
esdc_server/*.iws
esdc_server/*.iml
esdc_server/*.ipr

### NetBeans ###
esdc_server//nbproject/private/
esdc_server//nbbuild/
esdc_server//dist/
esdc_server//nbdist/
esdc_server//.nb-gradle/
esdc_server/build/
esdc_server/!**/src/main/**/build/
esdc_server/!**/src/test/**/build/

### VS Code ###
esdc_server/.vscode/
esdc_server/TODO.md


# dependencies
esdc_client/node_modules
esdc_client/.pnp
esdc_client/.pnp.js

esdc_client/# testing
esdc_client//coverage

esdc_client/# production
esdc_client//build
# misc
esdc_client/.DS_Store
esdc_client/.env.local
esdc_client/.env.development.local
esdc_client/.env.test.local
esdc_client/.env.production.local

esdc_client/npm-debug.log*
esdc_client/yarn-debug.log*
esdc_client/yarn-error.log*

# local env files
esdc_client/docker-compose.yml
esdc_server/docker-compose.yml
